.wrapper-main{
    margin: 50vh auto;
}
.logo-item{
height: 100px;
width:100px;
border-radius:50%;
background-color: blue;
text-align: center;

}
.stepout{
    opacity: 0;
    transition: .9s ease-in-out all;
    }
.stepin{
    opacity: 1 !important;
    transition: .9s ease-in-out all;
    }

.logo p{
    margin-top: 2rem;
}
.logo{
    border: 2px solid blue;
    height: 115px;
    width: 115px;
    padding: 6px;
    border-radius: 50%;
    outline: 0;
    position: absolute;
    top: 50vh;
    z-index: 999;
    cursor: pointer;
}
#welcometext{
    text-align:center;
    width: 100%;     
    font-size: 1.5rem;
}
.rotate {
    animation: rotation 8s infinite linear;
  }
.img1{
    width: 65px;
    margin-top: 40px;
    z-index: 999;
}
.img2{
    width: 116px;
    margin-top: -92px;
    margin-left: 2px;
    z-index: 99;
}


@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}