
<div class="wrapper-main">
    <div class="logo solid-border" id="logo" (click)="fadeOut()">
    <div class="logo-item" id="logo-item">
        <img class="img1"  src="assets/images/logo.svg" alt="logo">
            
    </div>

    </div>
    
    <img class="img2" id="img2" src="assets/images/robo.png" alt="robo">
    <br>
    <p id="welcometext">Click Above</p>
<div class="navigator">
<button routerLink="/dashboard">Q1</button>
<button routerLink="/QuestionTwo">Q2</button>
<button routerLink="/QuestionThree">Q3</button>
<button routerLink="/QuestionFour">Q4</button>
</div>   

<br>
<br>
<br>
</div>


