<button routerLink="/dashboard">Q1</button>
<button routerLink="/QuestionTwo">Q2</button>
<button routerLink="/QuestionThree">Q3</button>
<button routerLink="/QuestionFour">Q4</button>
<br>
<br>
<br>



 <br> Exercise 5
 <br>
 <br> If you believe the class below can be refactored then please refactor it and explain why you felt it could/should
 <br> be refactored.
 <br>
 <br> If you believe a refactor for the class below is unecessary please state so and explain why you felt this way.
 <br>
 <br> IMPORTANT: all exercises are best effort. If you cannot arrive at the working solution requested, please just include an explanation
 <br> as to your approach, what worked, what didn't, and anything else you feel may be relevant.
 

 <br>
 
 Saibal Chakravarty Changes
 Changes and its reason
 <br> Removed if else replaced it with if to avoid unnecessary loops.
 <br> Removed repeatating value declarations as if we declare colour as black it will be black till we dont change it as per condition so 
    for any specific condition we dont need to declare it again black.
    <br>  Removed unnecessary variable declarations.It is not needed to keep any variable that is of no use.
    <br>  Removed unnecessary lines for appending string as that can be done in a row.

   <b> Please check the ts file for changes</b>

 
