<p>
    * Exercise 2
   <br>
   <br> In an existing Angular app, please implement a solution to ensure that any existing (or future) http requests made will
   <br> automatically timeout after 15 seconds as an error.
   <br>
   <br> You can assume that all requests will be made using Angular's HttpClient
   <br>
   <br> Please use the minimal out-of-the-box Angular app setup (ng new my-app) to provide the needed changes. You can provide
   <br> just the file(s) that have the needed changes or the whole app. If you use an online editor, please just provide the link.
   <br>
   <br> IMPORTANT: all exercises are best effort. If you cannot arrive at the working solution requested, please just include an explanation
   <br> as to your approach, what worked, what didn't, and anything else you feel may be relevant.
</p>

<p>Answer:</p> <button (click)="checkAns()">Answer</button>
<br>
<br>
<br>
<button routerLink="/dashboard">Q1</button>
<button routerLink="/QuestionFour">Q4</button>
