<p style="text-transform:capitalize">Welcome {{user}}</p>
<p style="text-transform:capitalize">Lets go through the questions one by one.</p>
<p>
    * Exercise 1
    <br>
    <br> Implement 1 observable that when subscribed to will emit the following at the indicated times after subscription starts:
    <br>
    <br> 00:00:01 => A
    <br> 00:00:02 => BB
    <br> 00:00:02 => 10
    <br> 00:00:03 => CCC
    <br> 00:00:04 => DDDD
    <br> 00:00:04 => 20
    <br> 00:00:05 => EEEEE
    <br> 00:00:06 => FFFFFF
    <br> 00:00:06 => 30
    <br> ...
    <br>
    <br> The emissions should begin when clicking on the page, clicking on the page while observable is emitting should pause
    <br> the emissions, clicking again should resume emissions and so on.
    <br>
    <br> Please use an online editor like jsbin, jsfiddle, codepen, or your favorite to implement it and simply provide the link
    <br> to the solution.
    <br>
    <br> IMPORTANT: all exercises are best effort. If you cannot arrive at the working solution requested, please just include an explanation
    <br> as to your approach, what worked, what didn't, and anything else you feel may be relevant.
    </p>

<p>Ans </p><button (click)="q1ans(!subscribe);">{{btnName}}</button>
<p id="ansArea"></p>


